body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  display: flow-root;
  margin: auto;
  padding: 0;
  height: 100vh;
  background: rgb(10, 25, 41);
  /* background: #1b1b1d; */
  color: rgb(227, 247, 255);
}

/* Main Area */
.main {
  height: 100%;
}

.main header {
  display: flow-root;
}

/* Main Menu */
.main-menu {
  height: 100%;
  max-width: 32rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wide {
  width: 100%;
}

.main-menu button {
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* Image Slide */
.image-slider-area {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image-slider-area #filename-container {
  position: absolute;
  padding: 4px 6px;
  background: black;
  border-radius: 3px;
  opacity: .4;
  font-size: .8rem;
}

@media (min-width: 1200px) {
  .image-slider-area #filename-container {
    font-size: .9rem;
  }
}

.image-slider-area #filename-container:hover {
  opacity: 1;
}

.image-slider-area #image-container {
  flex-grow: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  overflow: hidden;
}

.image-slider-area #image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-slider-area .image-controls {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: .6;
  width: 80vw;
}

.image-slider-area .image-controls:hover {
  opacity: 1;
}

.image-controls .button-container {
  background-color: rgb(0, 0, 0, .7);
  border-radius: 4px;
}

.dataset-creation-form>* {
  margin-bottom: 0.5rem !important;
}
